:root {
  --card-gap: 25px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

/* Utils */
body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

/* Header */
header > .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  margin-bottom: 40px;
}

.right-header {
  flex-grow: 1;
}

header p {
  color: #808080;
  font-size: 0.8rem;
}

.left-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 20px;
  color: #808080;
  font-size: 0.8rem;
}

.time-period {
  margin-right: 5px;
  cursor: pointer;
}

.left-header > .toggle:first-of-type {
  margin-right: 10px;
}

.toggle {
  width: 30px;
  height: 18px;
  border: 3px solid #808080;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.toggle-cursor {
  width: 18px;
  height: 18px;
  border: 3px solid #808080;
  border-radius: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
}

/* Main */
main > .container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
  padding: 25px;
}

.card {
  min-width: calc(100% / 3 - var(--card-gap) * 2 / 3);
  flex-grow: 1;
  padding: 25px 20px 30px 20px;
  border: solid transparent;
  border-radius: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

/* Inside Card */
.option > .status {
  color: #808080;
  font-size: 0.8rem;
}

.option {
  margin-bottom: 15px;
}

.economics {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
}

.price {
  font-size: 2.5rem;
}

.frequency {
  color: #808080;
  font-weight: 300;
}

.discount {
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

.discount > .amount {
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 5px;
}

.choose-btn {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: #6500ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.benefits-list {
  margin-left: 10px;
}

.benefits-list > li {
  line-height: 1;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.benefits-list i {
  font-size: 1.4rem;
  margin-right: 10px;
}

/* Special Card */
.card.special,
.card.special *,
.card.special .status {
  color: #fff;
}

.card.special {
  background-color: #6500ff;
}

.card.special .amount {
  color: #000;
}

.special .choose-btn {
  color: #6500ff;
  background-color: #fff;
}

/* Bonus */
.list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
}

.benefits-list-left {
  flex-grow: 1;
  line-height: 1;
  font-size: 0.8rem;
}

.benefits-list-right {
  flex-grow: 1;
  line-height: 1;
  font-size: 0.8rem;
}

.list-container li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.list-container i {
  font-size: 1.4rem;
}

/* extras */
.card:hover {
  position: relative;
  bottom: 5px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.6);
}

.card {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 0;
  transition: 0.2s;
}

.choose-btn {
  position: relative;
  bottom: 0;
  transition: 0.2s;
  box-shadow: 0 0 0;
}

.choose-btn:hover {
  position: relative;
  bottom: 3px;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.toggle:hover,
.toggle:hover > .toggle-cursor {
  border: 3px solid #000;
  box-shadow: 0 0 5px;
}

.time-period:hover {
  color: #000;
}

.time-period:hover + .toggle {
  box-shadow: 0 0 5px;
}

.toggle:focus > .toggle-cursor {
  position: absolute;
  top: -2px;
  left: 9px;
  transition: left 0.2s;
  background-color: white;
  border: 3px solid #000;
}

.toggle:focus {
  background-color: #000;
  border: 3px solid #000;
}
