:root {
  --card-gap: 25px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style-type: none;
}

/* Utils */
body {
  font-family: sans-serif;
}

.debug,
.debug > * {
  border: 2px dashed red;
  padding: 5px;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 5px;
}

/* Header */
header > .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right-header {
  flex-grow: 1;
}

.left-header {
  display: flex;
}

.selector {
  width: 33px;
  height: 22px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.selector-cursor {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  top: -1px;
  right: 2px;
}

/* Main */
main > .container {
  display: flex;
  gap: var(--card-gap);
  flex-wrap: wrap;
}

.card {
  min-width: calc(100% / 3 - var(--card-gap) * 2 / 3);
  flex-grow: 1;
}
