:root {
  --card-gap: 25px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style-type: none;
}

/* Utils */
body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

/* Header */
header > .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  margin-bottom: 40px;
}

.right-header {
  flex-grow: 1;
}

header p {
  color: #808080;
  font-size: 0.8rem;
}

.left-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 20px;
  color: #808080;
  font-size: 0.8rem;
}

.time-period {
  margin-right: 5px;
}

.left-header > .selector:first-of-type {
  margin-right: 10px;
}

.selector {
  width: 30px;
  height: 18px;
  border: 3px solid #808080;
  border-radius: 20px;
  position: relative;
}

.selector-cursor {
  width: 18px;
  height: 18px;
  border: 3px solid #808080;
  border-radius: 20px;
  position: absolute;
  top: -3px;
  left: -3px;
}

/* Main */
main > .container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
  padding: 25px;
}

.card {
  min-width: calc(100% / 3 - var(--card-gap) * 2 / 3);
  flex-grow: 1;
  padding: 25px 20px 30px 20px;
  border: solid transparent;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Inside Card */
.option > .status {
  color: #808080;
  font-size: 0.8rem;
}

.option {
  margin-bottom: 15px;
}

.economics {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
}

.price {
  font-size: 2.5rem;
}

.frequency {
  color: #808080;
  font-weight: 300;
}

.discount {
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

.discount > .amount {
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 5px;
}

.choose-btn {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: #6500ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.advantages-list {
  margin-left: 10px;
}

.advantages-list > li {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.advantages-list i {
  font-size: 1.4rem;
}

/* Special Card */
.special,
.special *,
.special .status {
  color: #fff;
}

.special {
  background-color: #6500ff;
}

.special .amount {
  color: #000;
}

.special .choose-btn {
  color: #6500ff;
  background-color: #fff;
}
